<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA Player Injury</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    >
    <style>
    body {
        padding: 2rem;
    }
    h1 {
        margin-bottom: 1.5rem;
    }
    table {
        text-align: left;
    }
    th, td {
        text-align: left !important;
    }
    </style>
</head>
<body>
    <h1>NBA Player Injury Prediction</h1>
    <h4>For is injuredNextGame column, 1 means yes and 0 means no</h4>
    <div class="table-responsive">
        {{ table | safe }}
    </div>
</body>
</html>
